/*---------- site ----------*/
$site-footer-back: #639bd1;
/*---------- /site ----------*/

/*---------- menu ----------*/
$menu-back: #639bd1;
$menu-color: #fff;
/*---------- /menu ----------*/

/*---------- popup ----------*/
$popup-back: rgba( 35, 65, 94, .5 );
$popup-close-back: #cecece;
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #ccc;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #ededed;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #619ad3;
$btn-back-hover: #487db3;
$btn-back-active: #487db3;
$btn-color: #fff;
$btn-color-active: #fff;

$btn-2-back: #e6e6e6;
$btn-2-color: #000;
$btn-2-back-hover: #d6d6d6;
$btn-2-back-active: #d6d6d6;
$btn-2-color-active: #000;
/*---------- /btn ---------*/