.menu {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: $menu-back;

  &_fix{
    position: fixed;
    top: 0;
    bottom: auto;
  }

  &__layout{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: stretch;
    -webkit-align-items: stretch;
    width: 960px;
    height: inherit;
    margin: 0 auto;
  }

  &__item{
    height: inherit;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    font-weight: 600;
    color: $menu-color;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;

    &:hover,
    &.active{
      color: #b7d7f6;
    }

  }

}

