.promo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 63px;

  img{
    width: 100%;
    height: 100%;
  }

  &__content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 620px;
    padding: 42px 45px 48px 41px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    line-height: 20px;

    &:after {
      top: 0;
      left: 0;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(99, 155, 209, 0);
      border-top-color: #639bd1;
      border-width: 33px 33px 0 0;
    }

    h2{
      font-size: 24px;
      font-weight: 400;
    }

  }

}

